html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  font-family: STHeitiSC-Light;
  font: inherit;
  vertical-align: baseline;
}

html,
body,
form,
fieldset,
p,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-text-size-adjust: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  font-family: arial, sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

ins,
a {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  display: inline-block;
}

input,
textarea {
  border: none;
  background: none;
  outline: none;
  -webkit-appearance: none;
}

* {
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -ms-tap-highlight-color: transparent;
  -o-tap-highlight-color: transparent;
}

/*html {
    font-size: $browser-default-font-size;
}*/
html {
  font-size: 37.5px;
}

#app {
  width: 100%;
  height: 100%;
}

.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  overflow: hidden;
}

.top {
  width: 100%;
  height: 1.17333rem;
  background: #666;
  color: #fff;
  text-align: center;
  line-height: 1.17333rem;
  font-size: 0.53333rem;
}

.header {
  width: 100%;
  height: 1.17333rem;
  background: #32373A;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  align-items: center;
  -webkit-align-items: center;
  padding: 0 0.26667rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.header .icon-maikefeng,
.header .icon-wode,
.header .icon-xiangzuo,
.header .icon-tiaoshi {
  font-size: 0.53333rem;
  color: #fff;
}

.header span {
  font-size: 0.42667rem;
  color: #fff;
}

.header label {
  flex: 1;
  position: relative;
  padding: 0 0.26667rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.header label input {
  text-align: center;
  width: 100%;
  height: 0.8rem;
  background: #5B6161;
  border-radius: 0.8rem;
  color: #AFB3B4;
}

.header label input::-webkit-input-placeholder,
.header label textarea::-webkit-input-placeholder {
  color: #AFB3B4;
}

.header label .icon-fangdajing {
  position: absolute;
  top: 15px;
  left: 32%;
  color: #AFB3B4;
  font-size: 0.37333rem;
}

.tab {
  width: 100%;
  height: 1.17333rem;
  background: #32373A;
  display: flex;
  display: -webkit-flex;
  justify-content: space-around;
  line-height: 1.17333rem;
  padding: 0 0.53333rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.tab span {
  color: #fff;
  font-size: 0.37333rem;
  font-weight: bold;
  height: 0.93333rem;
}

.tab .active {
  border-bottom: 5px solid #fff;
}

.center {
  width: 100%;
  height: auto;
  padding: 0 0.53333rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.center img {
  width: 100%;
  height: auto;
}

.center button {
  width: 100%;
  height: 1.06667rem;
  background: #666;
  border-radius: 1.06667rem;
  font-size: 0.42667rem;
  color: #ccc;
  margin-top: 0.53333rem;
}

.center .buttons {
  width: 100%;
  height: auto;
  padding: 0 0.53333rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}

.center .buttons button {
  width: 100%;
  height: 1.06667rem;
  border: 2px solid pink;
  border-radius: 1.06667rem;
  background: #fff;
  font-size: 0.48rem;
  color: pink;
  margin-top: 30px;
}

.center .buttons span {
  margin-top: 30px;
  display: block;
}

.center input {
  width: 100%;
  height: 1.06667rem;
  border-bottom: 1px solid #ccc;
}

.section {
  flex: 1;
  overflow-y: auto;
}

.section .box {
  padding: 0 0.26667rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  background: #32373A;
}

.section .swiper {
  width: 100%;
  height: 5.33333rem;
  border-radius: 0.26667rem;
}

.section .swiper .swiper-slide {
  width: 100%;
  height: 100%;
}

.section .swiper .swiper-slide img {
  width: 100%;
  height: auto;
}

.section .tabs {
  width: 100%;
  height: 2.13333rem;
  background: #eee;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  align-items: center;
  -webkit-align-items: center;
  padding: 0 0.53333rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px solid #eee;
}

.section .tabs p {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
}

.section .tabs p i {
  width: 1.06667rem;
  height: 1.06667rem;
  border-radius: 50%;
  display: inline-block;
  background: #666;
  color: #fff;
  text-align: center;
  font-size: 0.74667rem;
  line-height: 1.06667rem;
}

.section .tabs p span {
  margin-top: 0.16rem;
  font-size: 0.26667rem;
}

.section .titles {
  width: 100%;
  height: 1.06667rem;
  line-height: 1.06667rem;
  text-indent: 0.26667rem;
  font-size: 0.42667rem;
  font-weight: bold;
}

.section .list {
  width: 100%;
  height: auto;
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.26667rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.section .list dl {
  width: 33%;
  height: auto;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
}

.section .list dl dt {
  flex: 8;
}

.section .list dl dt img {
  width: 100%;
  height: auto;
}

.section .list dl dd {
  flex: 2;
}

.section .list dl dd span {
  padding: 0 0.26667rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  word-break: break-all;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.section .lists {
  width: 100%;
  height: auto;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
}

.section .lists dl {
  width: 100%;
  height: auto;
  display: flex;
  display: -webkit-flex;
  padding: 0 0.26667rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.section .lists dl dt {
  flex: 2;
}

.section .lists dl dt img {
  width: 100%;
  height: auto;
}

.section .lists dl dd {
  flex: 8;
  margin-left: 0.26667rem;
}

.section .lists dl dd h1 {
  font-size: 0.4rem;
  font-weight: bold;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  word-break: break-all;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 2;
}

.section .lists dl dd p {
  line-height: 2;
}

.footer {
  width: 100%;
  height: 1.17333rem;
  background: #eee;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  align-items: center;
  -webkit-align-items: center;
  padding: 0 0.53333rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.footer p {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
}

.footer p i {
  font-size: 0.53333rem;
  line-height: 1.5;
}

.footer p span {
  font-size: 0.26667rem;
}

.memtitle {
  background: #eee;
  width: 100%;
  height: auto;
  display: flex;
  display: -webkit-flex;
  padding: 0.26667rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.02667rem solid #ccc;
}

.memtitle .left {
  display: flex;
  display: -webkit-flex;
  align-items: center;
}

.memtitle .left img {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  display: inline-block;
}

.memtitle .left .leftBox {
  display: flex;
  display: -webkit-flex;
  margin-left: 0.26667rem;
  flex-direction: column;
}

.memtitle .right {
  width: auto;
  height: auto;
  border: 0.02667rem solid #ccc;
  border-radius: 0.8rem;
  padding: 0.08rem 0.13333rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.memtitle .right .icon-jinbi {
  font-size: 0.37333rem;
}

.memtop {
  background: #eee;
  width: 100%;
  height: 0.8rem;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  align-items: center;
  -webkit-align-items: center;
  padding: 0.66667rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.memtop p {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  align-items: center;
  -webkit-align-items: center;
  flex-direction: column;
  border-right: 0.02667rem solid #ccc;
  padding-right: 0.53333rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.memtop p:nth-child(4) {
  border: 0;
}

.memtop p .icon-noun__cc {
  font-size: 0.42667rem;
}

.memtop p strong {
  font-weight: bold;
  line-height: 1;
}

.lisCenter {
  border-bottom: 0.10667rem solid #ccc;
}

.lis {
  width: 100%;
  height: 1.33333rem;
  padding: 0 0.26667rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  align-items: center;
  -webkit-align-items: center;
  border-bottom: 1px solid #ccc;
}

.alllis {
  width: 100%;
  height: auto;
  background: #eee;
}

.alllis .lisTop {
  width: 100%;
  height: 1.33333rem;
  border-bottom: 0.10667rem solid #ccc;
  border-top: 0.10667rem solid #ccc;
  padding: 0 0.26667rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  align-items: center;
  -webkit-align-items: center;
}

.lisTopRight {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  align-items: center;
  -webkit-align-items: center;
  align-items: center;
}

.lisTopRight img {
  width: 0.53333rem;
  height: 0.53333rem;
  border-radius: 50%;
  display: inline-block;
}

.lisTopRight i {
  font-size: 0.42667rem;
}

.lisTopLeft i {
  font-size: 0.42667rem;
  padding-right: 0.26667rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.lisBottom {
  width: 100%;
  height: 1.33333rem;
  border-bottom: 0.10667rem solid #ccc;
  border-top: 0.10667rem solid #ccc;
  display: flex;
  display: -webkit-flex;
  align-items: center;
}

.lisBottom button {
  width: 100%;
  height: 1.06667rem;
  font-size: 0.42667rem;
  background: #eee;
  border: 0;
}

.listss {
  width: 100%;
  height: auto;
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  margin-top: 0.26667rem;
}

.listss li {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  align-items: center;
  -webkit-align-items: center;
  flex-direction: column;
  width: 20%;
  height: 100%;
  line-height: 3;
}

.listss li i {
  width: 1.06667rem;
  height: 1.06667rem;
  border-radius: 50%;
  display: inline-block;
  background: pink;
  text-align: center;
  line-height: 1.06667rem;
  font-size: 0.48rem;
  color: red;
}

.titles {
  width: 100%;
  height: auto;
}

.titles img {
  width: 95%;
  height: auto;
}
