html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  font-family: STHeitiSC-Light;
  font: inherit;
  vertical-align: baseline;
}

html,
body,
form,
fieldset,
p,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-text-size-adjust: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  font-family: arial, sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

ins,
a {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  display: inline-block;
}

input,
textarea {
  border: none;
  background: none;
  outline: none;
  -webkit-appearance: none;
}

* {
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -ms-tap-highlight-color: transparent;
  -o-tap-highlight-color: transparent;
}

/*html {
    font-size: $browser-default-font-size;
}*/
html {
  font-size: 37.5px;
}

#app {
  width: 100%;
  height: 100%;
}

.wrap {
  width: 100%;
  height: 100%;
  -webkit-flex: 1 1 0%;
  flex: 1 1 0%;
  flex-direction: column;
  overflow: hidden;
}

.top {
  width: 100%;
  height: 1.17333rem;
  background: #666;
  color: #fff;
  text-align: center;
  line-height: 1.17333rem;
  font-size: 0.53333rem;
}

.center {
  width: 100%;
  height: auto;
  padding: 0 0.53333rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.center img {
  width: 100%;
  height: auto;
}

.center button {
  width: 100%;
  height: 1.06667rem;
  background: #666;
  border-radius: 1.06667rem;
  font-size: 0.42667rem;
  color: #ccc;
  margin-top: 0.53333rem;
}

.center .buttons {
  width: 100%;
  height: auto;
  padding: 0 0.53333rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}

.center .buttons button {
  width: 100%;
  height: 1.06667rem;
  border: 2px solid pink;
  border-radius: 1.06667rem;
  background: #fff;
  font-size: 0.48rem;
  color: pink;
  margin-top: 30px;
}

.center .buttons span {
  margin-top: 30px;
  display: block;
}

.center input {
  width: 100%;
  height: 1.06667rem;
  border-bottom: 1px solid #ccc;
}
